$mubaloo-blue: #208ead;

h1 {
  color: $mubaloo-blue;
}

body {
  font-family: sans-serif;
  margin: auto;
}

input {
  display: block;
  margin-bottom: 10px;
}

div {
  margin-left: 5px;
}

button {
  color: white;
  background-color: $mubaloo-blue;
}

